<div class="fixed bottom-0 left-0 z-50 w-full h-16">
  <div class="grid h-full max-w-xl grid-cols-2 mx-auto">
    <button routerLink="/home" type="button" class="flex flex-col items-center justify-center px-5 border-2 text-white bg-gray-800 hover:bg-amber-500 hover:text-black">
      <span class="text-lg">🏠</span>
      <span class="text-sm">Home</span>
    </button>
    <button routerLink="/wods" type="button" class="flex flex-col items-center justify-center px-5 border-2 text-white bg-gray-800 hover:bg-amber-500 hover:text-black">
      <span class="text-lg">🏋️</span>
      <span class="text-sm">WODs</span>
    </button>
<!--    <button type="button" class="flex flex-col items-center justify-center px-5 border-2 text-white bg-gray-800 hover:bg-amber-500 hover:text-black">-->
<!--      <span class="text-lg">🏆</span>-->
<!--      <span class="text-sm">Leaderboard</span>-->
<!--    </button>-->
<!--    <button type="button" class="flex flex-col items-center justify-center px-5 border-2 text-white bg-gray-800 hover:bg-amber-500 hover:text-black">-->
<!--      <span class="text-lg">👤</span>-->
<!--      <span class="text-sm">Profile</span>-->
<!--    </button>-->
  </div>
</div>
