@if (wod$ | async; as wod) {
  <wdz-wod-view [wod]="wod"></wdz-wod-view>
}

<!--<dialog #dialog class="bg-black">-->
<!--  <form method="dialog">-->
<!--    <button type="submit" autofocus>X</button>-->
<!--  </form>-->
<!--  <form [formGroup]="scoreForm">-->
<!--    <input placeholder="Name" formControlName="name" type="text" />-->
<!--    <input placeholder="Score" formControlName="score" type="text" />-->
<!--    <button (click)="addScore()">Add</button>-->
<!--  </form>-->
<!--</dialog>-->

<a class="wdz-button"  [routerLink]="['/wod-editor', id()]">edit</a>
