<div class="p-4">
  <form [formGroup]="wodForm">
    <label class="mb-4">
      <span>Name</span>
      <input type="text" placeholder="e.g. Murph" formControlName="name" />
    </label>
    <label class="mb-4">
      <span>Description</span>
      <input placeholder="e.g. Timecap 20min" formControlName="description" />
    </label>

    <div formArrayName="parts" class="flex flex-col gap-2">
      @for (partFormControl of wodForm.controls.parts.controls; let i = $index; track partFormControl.value) {
        @if (wodForm.controls.parts.length > 1 && i > 0) {
          <div class="flex items-center justify-between">
            <h2>Workout Part {{ i + 1 }}</h2>
            <button (click)="removePart(i)" class="border-0 p-2 text-red-600 opacity-60">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
              </svg>
            </button>
          </div>
        }
        <div [formGroupName]="i" class="flex flex-col gap-2">
          <label>
            <span>{{ wodForm.controls.parts.length > 1 ? 'Part ' + (i + 1) : 'Workout' }} description</span>
            <input type="text" placeholder="e.g. 5 RFT" formControlName="description" />
          </label>

          <div formArrayName="exercises" class="flex flex-col gap-2">
            @for (exerciseFormControl of partFormControl.controls.exercises.controls; let j = $index; track exerciseFormControl.value) {
              <div
                [formGroupName]="j"
                class="flex gap-2 items-center"
                draggable="true"
                #draggable
                (dragstart)="draggable.classList.add('opacity-60'); draggingExerciseIdx = j; draggingPartIdx = i"
                (dragend)="draggable.classList.remove('opacity-60')"
                (dragenter)="draggable.classList.add('pl-4')"
                (dragover)="$event.preventDefault(); draggable.classList.add('pl-4')"
                (dragleave)="draggable.classList.remove('pl-4')"
                (drop)="moveDraggingExerciseTo(i, j); draggable.classList.remove('pl-4')"
              >
                <span class="text-gray-400 cursor-move">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 5.25h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5" />
                  </svg>
                </span>
                <input type="text" placeholder="Reps" formControlName="reps" class="w-1/6" />
                <input type="text" placeholder="Movement" formControlName="movement" class="w-4/6" />
                <input type="text" placeholder="Weight" formControlName="weight" class="w-1/6" />
                <button (click)="removeExercise(i, j)" class="border-0 p-2 text-red-600 opacity-60">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
                    <path d="M6.28 5.22a.75.75 0 0 0-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 1 0 1.06 1.06L10 11.06l3.72 3.72a.75.75 0 1 0 1.06-1.06L11.06 10l3.72-3.72a.75.75 0 0 0-1.06-1.06L10 8.94 6.28 5.22Z" />
                  </svg>
                </button>
              </div>
            }
          </div>
          <div class="p-2 border-dashed border border-gray-500 rounded-lg cursor-pointer bg-gray-900 opacity-75 flex items-center gap-2 hover:bg-gray-800" (click)="addExercise(i)">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
            </svg>
            <span>add exercise</span>
          </div>
        </div>
      }
    </div>
    <div class="mt-4 p-2 py-8 border-dashed border border-gray-500 rounded-lg cursor-pointer bg-gray-900 opacity-75 flex items-center gap-2 hover:bg-gray-800" (click)="addPart()">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
      </svg>
      <span>add workout part (e.g. Buyout)</span>
    </div>
  </form>

  <div class="flex justify-end gap-2 mt-4">
    <button (click)="delete()">Delete</button>
    <button (click)="save()" class="wdz-button-primary">Save</button>
  </div>
</div>
