<div class="max-w-md m-auto border rounded-xl border-amber-400 p-4 bg-gray-800 font-mono shadow-[6px_6px_0_orange]">
  <h1 class="text-xl">{{ wod().name }}</h1>
  <p class="text-lg">{{ wod().description }}</p>
  @for (part of wod().parts; track $index) {
    <div>
      <h2 class="text-lg">{{ part.description }}</h2>
      <ul class="list-['-_'] list-inside">
        @for (exercise of part.exercises; track $index) {
          <li>
            <span class="inline-block min-w-[2ch] text-right">{{ exercise.reps }}</span> {{ exercise.movement }} {{ exercise.weight }}
          </li>
        }
      </ul>
    </div>
  }
</div>
