@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'mobile-drag-drop/default.css';

:root {
  --color-primary: #ff914d;
  --color-primary-contrast: #000;
  --color-accent: #ffbd59;
  --color-accent-contrast: #000;
}

body {
  @apply bg-stone-800 text-stone-200;
}

input,
textarea {
  @apply border border-stone-600 bg-black px-2 py-1 text-stone-200;
  &::placeholder {
    @apply text-stone-200 opacity-50;
  }
  &:focus,
  &:active {
    @apply border-stone-600;
  }
  &.ng-invalid:not(.ng-untouched) {
    border: 1px solid rgba(225, 63, 63, 0.72);
  }
}

label {
  @apply flex flex-col text-stone-400;
  span {
    @apply text-sm;
  }
}

button,
.wdz-button {
  @apply border border-white px-4 py-2;

  &:hover {
    @apply bg-stone-600;
  }

  &.wdz-button-primary {
    @apply bg-wdz-primary font-bold text-black;
    &:hover {
      @apply bg-wdz-accent shadow-[6px_6px];
    }
  }
}
