@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #ff914d;
  --color-primary-contrast: #000;
  --color-accent: #ffbd59;
  --color-accent-contrast: #000;
}

body {
  @apply font-mono bg-black text-white;
}
